<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringApiApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="Spring_API" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="org.example.spring_api.SpringApiApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>